</body>
    <div class="footer">
        <ul class="footer-links">
        <li><a href="https://github.com/jishnusundar/surveymaster_comp308">Github repo</a></li>
        </ul>
        <p>Designed and built with all the love in the world by <a href="https://github.com/aaujla55">@aaujla55</a>,<a href="https://github.com/jishnusundar">@jishnu</a>,<a href="https://github.com/mekhaleganesh">@mekhal</a> and <a href="">@karuna</a>. Maintained by the core team.All rights reserved ©</p>
    </div>


</div>
<!--Scripts -->
<script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src ="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src ="/Scripts/app.js"></script>


</html>