<div class="footer-wrapper">
    <div class="footer">
        <h5>All rights reserved ©</h5>
</div>
</div>

</div>
<!--Scripts -->
<script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src ="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src ="/Scripts/app.js"></script>

</body>
</html>