
<!DOCTYPE html>
<html lang = "en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!--CSS -->
        <link rel='stylesheet' href='/Content/reset.css' />
         <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
         <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
         <link rel='stylesheet' href='/Scripts/lib/font-awesome/css/font-awesome.min.css' />
          <link rel='stylesheet' href='/Scripts/lib/font-awesome/scss/_variables.scss' />
          <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
          <link rel='stylesheet' href='/Content/app.css' />
        <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    </head>
        <nav class="navbar navbar-default">
        <div class="container-fluid purpleColor">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <a class="navbar-brand" href="/">Survey Master</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
         </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse purpleColor" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

            <% if(typeof user == 'string' && user) { %>
            <li><a href="">Welcome, <%= user %></a></li>
            <li><a href="/auth/logout">Log Out</a></li>
            <% } else { %>
            <li><a href="/auth/login">Log in</a></li>
            <li><a href="/auth/register">Create account</a></li>
            <% } %>


                </ul>
          </div>
          </div>
          </nav>
            
            <div class="lower-navigation">
            <ul class="">
            <li><a href="">Contact Us</a></li>
            <li><a href="">About Us</a></li>
            </ul>
            </div>
            
           
            <header class="site-header">
            <div class="wrapper">


            <div class="banner">
                        <!--Site Logo container-->
            <div class="logo-contain">
            <img src="/Assets/images/icon.png" alt="Site Logo" class=".img-responsive center-block">
            <!--/logo-container-->
            </div>
            <div class="container">
            <h1>Survey Master</h1>
            <p>Get your answers today!!!</p>
            </div>
            </div>
            <div>
            <!--/wrapper-->
            </div>
            
            </header>
            <body>

     
      