<<<<<<< HEAD:server/views/surveys/surveyResponse.ejs
<% include ../partials/header.ejs %>
<div class="outer-box">

<!--Survey Name(from connfigureSurvey Page)-->
    <div class="survey-container">

    <!--Survey Title-->
    <div class="page-header">
    <h1>surveys.title</h1><!--dynamic data-->
    </div>

    <!--Home Link-->
    <ol class="breadcrumb">
    <li><a href="/survey/userSurveyList">My Survey List</a></li>
    <li class="active"> View Survey Results</a></li>
    </ol>
    
    <!-- Question 1 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 1.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret" data-toggle="collapse" data-target="#table1" aria-expanded="false" aria-controls="collapseExample"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <div class="collapse" id="table1">
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
     <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    </div>

     <!-- Question 2 TABLE-->
     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 2.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 3 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

    <!-- Question 4 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 4.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 5 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 5.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 6 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 7 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 8 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 9 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 10 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

    </div>

</div>
<% include ../partials/footer.ejs %>
=======
<% include ../partials/header.ejs %>
<div class="outer-box">

<!--Survey Name(from connfigureSurvey Page)-->
    <div class="survey-container">

    <!--Survey Title-->
    <div class="page-header">
    <h1>surveys.title</h1><!--dynamic data-->
    </div>

    <!--Home Link-->
    <ol class="breadcrumb">
    <li><a href="/survey/userSurveyList">My Survey List</a></li>
    <li class="active">Survey Results</a></li>
    </ol>
    
    <!-- Question 1 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 1.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret" data-toggle="collapse" data-target="#table1" aria-expanded="false" aria-controls="collapseExample"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <div class="collapse" id="table1">
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
     <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    </div>

     <!-- Question 2 TABLE-->
     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 2.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 3 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

    <!-- Question 4 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 4.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 5 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 5.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 6 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 7 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 8 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>


     <!-- Question 9 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 10 TABLE-->
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum" >
        <b>Question 3.</b>
        </div>
        <div class="survey-form-list-control-buttons right-position">
         <span class="caret"></span>
        </div>
    </div>

     <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda ea officiis?
        </div>
        
    </div>
    
    <table class="table table-condensed">
    <tr class="info">
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

    </div>

</div>
<% include ../partials/footer.ejs %>
>>>>>>> 06f7cf556a4a6b2c68a001b4b18fb23b7917ce8a:server/views/surveys/MCQ/surveyResults.ejs
