<% include ./partials/header.ejs %>

<div class="outer-box">
 <div class="page-header">
    <h1>Our team</h1>
    </div>

    <div class = "row">
        <div class="col-md-3">
             <div class="thumbnail">
                <img class="about-images img-circle" src="/Assets/images/amandeep.jpg" alt="...">
                <div class="about-caption caption">
                    <h3>Amandeep Aujla</h3>
                    <h6>Project Manager/Desginer</h6>
                </div>
            </div>
         </div>  
    
       <div class="col-md-3">
         
             <div class="thumbnail"> 
             <img class="about-images img-circle" src="/Assets/images/jishnu.jpg" alt="...">
                <div class="about-caption caption">
                    <h3>Jishnu Sundar</h3>
                    <h6>Developer</h6>
                    <br>
                </div>
            </div>
         </div>  
        <div class="col-md-3">
             <div class="thumbnail">
                <img  class="about-images img-circle" src="/Assets/images/mekhal.jpg"alt="...">
                <div class=" about-caption caption">
                    <h3>Mekhal Ganesh</h3>
                    <h6>Desginer</h6><br>
                </div>
            </div>
         </div>  
       <div class="col-md-3">
             <div class="thumbnail">
             <img class="about-images img-circle" src="/Assets/images/karuna.jpg"alt="...">
                <div class="about-caption caption">
                    <h3>Karuna</h3>
                    <h6>Tester</h6><br>
                </div>
            </div>
         </div>  


     </div>


     <div class="page-header">
    <h1>Our Mission</h1>
    </div>
    <div class= "txt-description">
       <p>We want to help you make better decisions. That’s it. That’s all. That’s what drives us. We want to make it as easy as possible for you to get
        at the knowledge you need to make smart, informed choices. we’re still challenging ourselves to deliver simple, powerful solutions.
        We’re dedicated to making even the most advanced research design easy enough for anyone – and everyone – to use.</p>
        </div>
</div>



<% include ./partials/footer.ejs %>