<% include ./partials/header.ejs %>


<div class="outer-box">

    <div class="survey-container">
    <div class="page-header">
    <h1>Contact Us</h1>
    </div>

        
        <div class ="narrow-form-container">

                <div class="survey-form-list-control">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name" name = "contactname" required>
                </div>
                   
                <div class="survey-form-list-control">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter your email" name = "contactemail" required>
                </div>
                    

                <div class="survey-form-list-control">
                        <label>Comments/Leave Message</label>                        
                         <textarea class="form-control" rows="3" placeholder = "Enter your message" required></textarea>
                </div>
                  <div class="survey-form-list-control">
                    <input type="submit" class="btn btn-info" value="Send">
                    </div>
              </div>
        </div>
    </div>




















</div>










<% include ./partials/footer.ejs %>
      