<% include partials/header.ejs %>




<div id ="reg_form">

<img id="icon-img" src="/Assets/images/icon.png" alt="">
<form>
<div class"form-group">

 <input type="email" class="form-control" id="input_email" placeholder="Enter your email id"><br>
 <input type="password" class="form-control" id="password" placeholder="Enter Password"><br>
 <input type="Password" class="form-control" id="input_email" placeholder="Confirm password"><br>





</div>
</form>





</div>

</body>
 </html>