<% include ./partials/header.ejs %>

    <% if (typeof(messages)== String && messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>

<div class="outer-box">
    
    <div class="page-header">
    <h1>Survey Master</h1>
    </div>



    <div class="logo-banner">

        <img src="/Assets/images/logo.png" class="rounded float-left" alt="...">
      
        <div class= "txt-description-cont">
        <p>Ask one person for advice, and it’s hard to know whether we should trust them. Ask a hundred, though, you’ll see a clearer picture start to come together.</p>
        <p>Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.</p>
         <p>Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.</p>
        </div>
    </div>
     
    
    <div class="row">
    <div class="col-xs-6 col-md-12">
    <div class="hovereffect">
                    <img class="img-responsive" src="/Assets/images/nopic.jpg" data-toggle="tooltip" data-placement="top" alt="Basic product catalogue" title="Basic product catalogue"/>
                    <div class="overlay">
                    <h2>Get your answers today!!</h2>
                    <a class="info" href="">Create Survey</a>
                    </div>
    </div>
    </div>
    </div>
</div>



<% include ./partials/footer.ejs %>
      
