<% include ./partials/header.ejs %>
<body>

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>

<div class="outer-box">

    <div class="page-header">
    <h1>Survey Master</h1>
    </div>
    <div class= "txt-description">
    <p>Ask one person for advice, and it’s hard to know whether we should trust them. Ask a hundred, though, you’ll see a clearer picture start to come together.</p>
    <p>Survey Master is a web application to build surveys to get your answers anytime. This web application helps the user to create survey according to the requirement and can view the results.</p></p>
    </div> 
  
</div>

</body>

<% include ./partials/footer.ejs %>
      
