<% include ./partials/header.ejs %>

    <% if (typeof(messages)== String && messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>

<div class="outer-box">
    
    <div class="page-header">
    <h1>Survey Master</h1>
    </div>



    <div class="logo-banner">

    <!--Survey List-->
    <div class="survey-container">
    <div class="page-header">
    <h3>Active Surveys</h3>
    </div>
    <form>

    <!--List of surveys-->
    <% for (let count = 0; count < surveys.length; count++) { sIds[count] = surveys[count]._id %>

    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum"><%= count+1 %></div>
        
         <div class="survey-form-list-control-label"><a href="/respond/identifyResponseType/<%= surveys[count]._id %>"><%=   surveys[count].title %</a></div>
    </div>
        
<% } %>
    </form>
    </div>
    </div>
     
    
    <div class="row">
    <div class="col-xs-12 col-md-12">
    <div class="hovereffect">
                    <img class="img-responsive" src="/Assets/images/nopic.jpg" data-toggle="tooltip" data-placement="top" alt="Basic product catalogue" title="Basic product catalogue"/>
                    <div class="overlay">
                    <h2>Get your answers today!!</h2>
                    <a class="info" href="<% if(typeof user == 'string' && user) { %>
                    /survey/surveyConfig
                    <% } else { %>
                    /auth/login
                    <% } %>">Create Survey</a>
                    </div>
    </div>
    </div>
    </div>
</div>



<% include ./partials/footer.ejs %>
      
