body{
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Header style*/
.purpleColor{
    background-color: #62bcfa;
}

.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-brand{
     color:white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fccfdc;
}

.logo-contain img{
    height: 150px;
    margin-top: -15px;
}
/* The navigation bar */
.navbar {
    overflow:hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lower-navigation{
    overflow: hidden;
    padding: 25px 0 0 10px;
    margin-top: 30px;
    background-color: #5a487f;
}
.lower-navigation a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

.lower-navigation a:hover{
    color:white;
   text-decoration: underline;
}
@media screen and (max-width: 400px) {
    .logo-contain  img{
    height: 300px;
    margin-top: -25px;
}
}

h1 {
	font-family: "Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #989898;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgb(122, 91, 168);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.banner{
    margin-bottom: 40px;
    font-size: 20px;
}
.banner{
    z-index: -1;
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*footer style*/
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5c5b6b;
    text-align: center;
    background-color: #62bcfa;
}
.footer-links{
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
    text-decoration: none;
}
.footer-links li a {
    color: #fff;
}
.footer p>a{
 color: #fff;
}

/*Cointainer styles*/
.outer-box{
    /*background-color: #e5e7f0;*/
    height: 80%;
    display:block;
    padding: 0px 20px 10px 20px;
}

.page-header{
	display: block;
	box-sizing: border-box;
	font-family: "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400px;
	line-height: 25.6px;
	word-wrap:break-word;
}
.txt-description{
	    color:rgba(145, 145, 145, 1);
		text-align:center;
		padding:10px;
		margin-left:20%;
		margin-right:20%;
		margin-top:2%;
		
}
.page-header h1 {
    text-align: center;
}
.page-header h2 {
    text-align: center;
}
.form-wrapper{
		margin-left:35%;
		margin-right:35%;
		margin-top:2%;
}

.logo-banner
{
    display: inline-flex;
}
.logo-banner img
{
    width: 25%;
    margin-left:8%;
}
.txt-description-cont{
        width: 60%;
	    color:rgba(145, 145, 145, 1);
		text-align:center;
		padding:10px;
        margin-left: 2%;
		margin-right:2%;
		margin-top:2%;
		
}


/*Survey List Styles*/
.survey-container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    padding: 10px;
    box-shadow: -5px 15px 36px 3px rgba(0,0,0,0.29);
}
.survey-form-list-control{
    margin-bottom: 15px;
}
.survey-form-list-control-listNum{
    display: inline-block;
    margin-left: 4px;
    padding: 2px;
}
.survey-form-list-control-label{
  display: inline-block;
}
.survey-form-list-control-text{
  display: inline;
}
.survey-form-list-control-text-break{
  display: inline-block;
}

.survey-form-list-control-buttons{
  display: inline-block;
}
.right-position{
        float: right!important;
}

/*http://www.bestcssbuttongenerator.com/#/22*/
.myButton{
		-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #62bcfa));
	background:-moz-linear-gradient(top, #bddbfa 5%, #62bcfa 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #62bcfa 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #62bcfa 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #62bcfa 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #62bcfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#62bcfa',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #62bcfa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5a487f), color-stop(1, #5a487f));
	background:-moz-linear-gradient(top, #5a487f 5%, #5a487f 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#62bcfa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.question-break{
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 2%;
    border-radius: 5px;
}
.question-break:hover{
    background-color: #bddbfa;
}

.my-div-hover:hover{
 background-color: #bddbfa;
}

/*Overwriting bootstrap css to fit Survey master website*/
.checkbox-inline .radio-inline{
    position:none;
}
.chec