.logoImage{
width: 100%;
height: 100%;
position: fixed;
}

img{
    width:160px;
    height: 75px;
    position: fixed;
}
#div_navbar{
    margin-top: 80px;
    background-color: #403f3f;
    width: 100%;
    height: 50px;
    position: fixed;
    
}
.header-wrapper{
    height: 100%;
}
ul li{
    color:white;
}
.navbar-nav{
    margin-right: 20px;
}
.navbar-nav li a {
    font-family:"Bookman Old Style";
    color: white;
}
.navbar-nav li a:hover {
    background-color: #A2B736;
}
