#reg_form{

    width: 400px;
    height: 500px;
    background-color: #979990;
    margin-left: 500px;
    margin-right: auto;
     margin-top: 150px;
    position: absolute;
    clear: none;
}
form{
    margin-top: 200px;
}
#icon-img{
    width: 75px;
    height: 75px;
    margin-left: 150px; ;
    margin-right: auto;
}