 <% include ../partials/header.ejs %>

<style>
h1,p {
text-align:center;
}
</style>
 <div id="body-wrapper" class="body-warapper">
<div class="main-body">
 <h1><%= title %></h1>
</div>
</div>
 <% include ../partials/footer.ejs %>