<% include ../partials/header.ejs %>
<div class="outer-box">

<!--Survey Name(from connfigureSurvey Page)-->
    <div class="survey-container">

    <!--Survey Title-->
    <div class="page-header">
    <h1>surveys.title</h1><!--dynamic data-->
    </div>

    <!--Home Link-->
    <ol class="breadcrumb">
    <li><a href="/survey/userSurveyList">My Survey List</a></li>
    <li class="active">Survey Results</a></li>
    </ol>
    
    <!-- Question 1 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 1</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 2 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 2</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 3 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 3</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 4 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 4</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 5 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 5</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 6 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 6</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 7 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 7</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 8 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 8</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 9 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 9</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>

    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>

     <!-- Question 10 TABLE-->
    <table class="table table-condensed">
    <tr>
    <th class="info">Question 10</th>
    </tr>

    <tr>
    <th class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores, explicabo ullam?</th>
    </tr>
    
    <tr>
    <th>Options</th>
    <th>Number of Hits</th>
    <th>Average</th>
    <th>%</th>
    </tr>

    <tr>
    <td>Option A value</td>
    <td></td>
    <td></td>
   <td></td>
    </tr>

    <tr>
    <td>Option B </td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option C</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    <tr>
    <td>Option D</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </table>
    </div>

</div>
<% include ../partials/footer.ejs %>