<% include ../partials/header.ejs %>

    <!--Survey List-->
    <div class="survey-container">

    <div class="page-header">
    <h3>Setup Survey</h3>
    </div>

    <div class="narrow-form-container">
    <form method="post">
    
            <!--List 1-->
            <div class="survey-form-list-control">
                <div class="col-md-6"><label>Survey Name</label></div>
                <div class="col-md-6">
                <input name="surveyTitle" type = "text" class ="form-control">
                </div>
            </div>
            <br><br>
            <!--List 2-->
            <div class="survey-form-list-control">
                    <div class="col-md-6">Choose Type</div>
                            <div class="col-md-6">
                                <select name ="surveyType" class="form-control survey-form-list-control" id="sel1">
                                <option > Select Type</option>
                                <option value="Multiple Choice"> Multiple Choice</option>
                                <option value="True or False">True or False</option>
                                <option value="Q&A">Q&A</option>
                                </select>
                            </div>
            </div>

            <!--List 3-->
            <div class="survey-form-list-control">
                <div class="col-md-6">Expiry Date</div>
                    <div class="col-md-6">
                    <input name="lifeTime" type = "text" placeholder="MM DD YYYY" class ="form-control">
                    </div>
                     
                <div>
           </div>

            <div class="survey-form-list-control">
                <div class="survey-form-list-control-buttons"> 
                <input type = "submit" class ="form-control btn btn-default right-position survey-form-list-control-buttons" value="Next">
                </div>
            </div>
    
        </form>
        
        <!--NarrowFormContainer-->
        </div>

    </div>
    
    </div>


<% include ../partials/footer.ejs %>
      
