<% include ../partials/header.ejs %>
<!--Author: Amandeep Aujla-->
<div class="outer-box">
 
 
<!--Survey Name(from connfigureSurvey Page-->
    <div class="survey-container">
    <h3>Student Survey</h3><!--dynamic data-->

    <form>

     <!---Add a new question button-->
    <div class="survey-form-list-control">
    <button type="button" class="btn btn-default btn-lg btn-block myButton">Add a new question</button></div>
    
    <!--Question-->
    <div class="survey-form-list-control">
        <!--Number field-->
        <div class="survey-form-list-control-listNum">Question 1</div><!--dynamically changed-->

         <!--Text field-->
        <div class="survey-form-list-control-text">
        <input type="text" class="form-control" placeholder="Please type your question">
        </div>
    </div>

    <!-- Radio Button for question-->
    <div class="survey-form-list-control">
        <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="" value="">Amandeep
        </label>
        <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="" value="">Mekhal
        </label>
        <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="" value="">Jishnu
        </label>
    </div>
    

    <!--ADD OPTION BUTTON-->
    <div class="survey-form-list-control">
     <div class="survey-form-list-control-listNum">
         <a class="btn btn-default" href="#" role="button">Add Option</a>
         <a class="btn btn-default" href="#" role="button">Save Question</a>
    </div>
    </div>
      
    <!--ON CLICK ADD: OPTION DIV WILL DISPLAY-->

    <div class="add-Option-onclickShow">
            <div class="survey-form-list-control">
                <!--Option Text field-->
                <div class="survey-form-list-control-text">
                <input type="text" class="form-control" placeholder="Please type Option here">
                </div>
            </div>

            <div class="survey-form-list-control">
                <!--Option Buttons-->
                <div class="survey-form-list-control-buttons">
                <a class="btn btn-default" href="#" role="button">OK</a>
                <a class="btn btn-default" href="#" role="button">Cancel</a>
                </div>
            </div>
    </div>

    </div>

    
    

   </form>         
 </div>

 <!--/OUTERBOX-->
</div>


<% include ../partials/footer.ejs %>