<% include ../partials/header.ejs %>
<!--Author: Amandeep Aujla-->
<div class="outer-box">
 
 
<!--Survey Name(from connfigureSurvey Page-->
    <div class="survey-container">
    <h3>Student Survey</h3><!--dynamic data-->

     <!---Add a new question button-->
    <button type="button" class="btn btn-default btn-lg btn-block myButton">Add a new question</button>
    </div>

    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum">1</div>
        
         <div class="survey-form-list-control-label">Patient Survey </div>
       
         <div class="survey-form-list-control-buttons right-position">
         <a class="btn btn-default" href="#" role="button">View</a>
         <a class="btn btn-default" href="#" role="button">Edit</a>
         <a class="btn btn-default" href="#" role="button">Del</a>
         <a class="btn btn-default" href="#" role="button">Link</a>
         </div>
    </div>           

</div>

</body>
<% include ../partials/footer.ejs %>