<% include ../../partials/header.ejs %>

    <!--Survey List-->
    <div class="survey-container">

    <div class="page-header">
    <h1>Setup Survey</h1>
    </div>

    <div class="narrow-form-container">
    <form method="post">
    
            <!--Survey Name-->
            <div class="survey-form-list-control">
                <label>Survey Name</label>
                <input name="surveyTitle" type = "text" class ="form-control" required>
            </div>

            <!--Survey Type-->
            <div class="survey-form-list-control">
                    <label>Choose Type</label>
                    <select name ="surveyType" class="form-control survey-form-list-control" id="sel1" required>
                    <option > Select Type</option>
                    <option value="Multiple Choice"> Multiple Choice</option>
                    <option value="Agree/Disagree">Agree/Disagree</option>
                    <option value="Q&A">Q&A</option>
                    </select>
            </div>

            <!--Survey Expiry Date-->
            <div class="survey-form-list-control">
               <label>Expiry Date</label>
               <input name="lifeTime" type ="text" placeholder="MM/DD/YYYY" class ="form-control" required>
           </div>

            <div class="survey-form-list-control text-right"> 
                <input type="submit" class ="btn btn-info" value="Next">
                <a href="/survey/userSurveyList">
                 <input type="button" class ="btn btn-info" value="Back">
                 </a>
            </div>
    
        </form>
        
        <!--NarrowFormContainer-->
        </div>

    </div>
    
    </div>


<% include ../../partials/footer.ejs %>
      
