<% include ../partials/header.ejs %>

<!-- Container Cap -->
<div class="container_cap">
<div class="text_description">
 My Survey List
 </div>
 <input type="submit" class="green_button" value="Create a new Survey">
</div>

<!-- Container-->
<div id="reg_form">

</div>


<% include ../partials/footer.ejs %>
      
