<% include ../partials/header.ejs %>

<body>

    
    <div class="outer-box">
    
    <div class="page-header">
    <h1>Welcome User</h1>
    </div>


    <!--Survey List-->
    <div class="survey-container">
    <h3>My Survey List</h3>
    <form>
    <div class="survey-form-list-control">
        <div class="survey-form-list-control-content">1
        </div>
         <div class="survey-form-list-control-content">Patient Survey
        </div>
         <div class="survey-form-list-control-content">
         <a class="btn btn-default" href="#" role="button">View</a>
        </div>
         <div class="survey-form-list-control-content">
         <a class="btn btn-default" href="#" role="button">Edit</a>
        </div>
         <div class="survey-form-list-control-content">
         <a class="btn btn-default" href="#" role="button">Del</a>
        </div>
         <div class="survey-form-list-control-content">
         <a class="btn btn-default" href="#" role="button">Link</a>
        </div>

    </form>
    </div>

    </div>



<% include ../partials/footer.ejs %>
      
