<% include ../partials/header.ejs %>

    <div class="outer-box">

    <div class="page-header">
    <h1>Welcome User</h1>
    </div>


    <!--Survey List-->
    <div class="survey-container">
    <h3>My Survey List</h3>
    <div class="survey-form-list-control">
    <!---Create Survey Button-->
    <a class="btn btn-default btn-lg btn-block myButton" href="/survey/surveyConfig">Create a new Survey</a>
    </div>
    <form>

    <!--List of surveys-->
<% for (let count = 0; count < surveys.length; count++) { %>

    <div class="survey-form-list-control">
        <div class="survey-form-list-control-listNum"><%= count+1 %></div>
        
         <div class="survey-form-list-control-label"><%= surveys[count].title %></div>
       
         <div class="survey-form-list-control-buttons right-position">
         <a class="btn btn-default" href="#" role="button">View</a>
         <a class="btn btn-default" href="#" role="button">Edit</a>
         <a class="btn btn-default" href="#" role="button">Del</a>
         <a class="btn btn-default" href="#" role="button">Share</a>
         </div>
    </div>
    
<% } %>
    </form>
    </div>
    
    </div>


<% include ../partials/footer.ejs %>
      
