<% include ../partials/header.ejs %>

<!-- Container Cap -->
<div class="container_cap">
 <h3>My Survey List</h3>
 <input type="submit" class="green_button" value="Create a new Survey">
</div>

<!-- Container-->
<div id="reg_form">

</div>


<% include ../partials/footer.ejs %>
      
