<% include ../partials/header.ejs %>


 
<!-- Display flash messages  -->
 <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
<div id ="reg_form">
   
<img id="icon-img" src="/Assets/images/icon.png" alt="">
<form method="post">
<div class"form-group">

 <input type="email" class="form-control" id="input_email" name="email"placeholder="Enter your email id"><br>
 <input type="text" class="form-control" id="input_username" name="username" placeholder="Enter you Username"><br>
 <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"><br>
 <input type="Password" class="form-control" id="confirm_password" placeholder="Confirm password"><br>

<input type="submit" class="form-control" id="submitButton" value="Register">



</div>
</form>





</div>

</body>
 </html>