<% include ../partials/header.ejs %>
<body>

    
<div class="outer-box">
    <div class="page-header">
    <h1>Survey Master</h1>
    </div>
    <!-- Render the Registration form  -->
	<main class="outerbox">
	<!-- Display flash messages  -->
	<% if (typeof(messages)== String && messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
		<div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h1>User Registration</h1>
                <form method="post">
                    <fieldset class="form-group">
                        <label for="email">Email: *</label>
                        <input name="email" type="email" class="form-control" required autofocus />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="username">Username: *</label>
                        <input name="username" type="text" class="form-control" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password: *</label>
                        <input id="password" name="password" type="password" class="form-control" required />
                    </fieldset>
                     <fieldset class="form-group">
                        <label for="password">Confirm Password: *</label>
                        <input id="confirm_password"  type="password" class="form-control" required />
                    </fieldset>
                   
                    <fieldset class="form-group text-right">
                        <input type="submit" id="submit_Button" class="btn btn-success" value="Submit"/>
                        <a href="/">
                            <input type="button" class="btn btn-warning" value="Cancel"/>
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>

      
</div>

</body>

<% include ../partials/footer.ejs %>
      

       
        
        